// @import "../../styles/fonts";
@import "../../styles/mixins";
@import "../../styles/partials.scss";

.header {
  position: fixed;
  z-index: 400;
  width: 100%;
  top: 0;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $club;
  padding: 0 3rem 0 2rem;

  &__left {
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: 600;
    margin-left: 1rem;
  }

  &__closet, &__recommendation {
    text-decoration: none;
    color: $primary-color;
    // display: none;

    // @include tablet {
    //   display: initial;
    // }
  }

  &__recommendation {
    margin: 0 1rem;
  }

  &__out {
    margin-right: 1rem;
  }
}