// @import "../../styles/fonts";
@import "../../styles/mixins";
@import "../../styles/partials.scss";

.header {
  position: fixed;
  z-index: 400;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $club;
  padding: 0 3rem 0 2rem;
  height: 60px;

  &__left {
    display: flex;
    align-items: center;
  }

  &__name, &__name a  {
    font-weight: 600;
    margin-left: 1rem;
    text-decoration: none;
    color: $primary-color;
  }

  &__closet, &__recommendation {
    text-decoration: none;
    color: $primary-color;
  }

  &__closet {
    @include mobile {
      display: none;
    }

    @include tablet {
      display: initial;
    }
  }

  &__recommendation {
    margin: 0 1rem;
  }

  &__out {
    margin: 0 1rem;
      // background-color: #0070c9;
      background-color: #29323c;
      color: white;
      border-radius: 4px;
      border: none;
      // background: linear-gradient(#42a1ec,#0070c9);
      width: 61px;
      height: 21px;
  }

  &__out:hover {
    opacity: 0.9;
  }
}